body {
    /* background: black; */
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background: url('./assets/sabri-tuzcu-182689-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 430px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 99;
    /* background: red; */
}

header ul {
    float: right;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 1em;
    cursor: pointer;
}

header ul li:hover {
    /* font-size: 20px; */
}

section.cover {
    color: white;
    position: absolute;
    top: 33%;
    right: 0;
    width: 54%;
}


.cover .title {}

.cover .title h1 {
    font-size: 54px;
}

.cover .title .skills {
    /* border: 1px solid; */
}

.cover .title .see-more {
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.cover .title .see-more:hover {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.cover .title .see-more p {
    vertical-align: middle;
    font-size: 24px;
}


.name {
    /* background: black; */
    /* color: white; */
}

.details-container {
    position: relative;
    top: 675px;
    color: black;
}

.details-container h1 {
    margin: 0 1em;
}

.details {
    width: 60%;
    margin: 10% auto;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech h1 {
    display: inline;
}

.tech img {
    display: inline;
    margin: 0 1em;
}

.angular-logo {
    height: inherit;
    width: inherit;
}

.nodejs-logo {
    height: inherit;
    width: inherit;
}

.javascript-logo {
    height: inherit;
    width: inherit;
}

footer {
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

.see-me {
    margin: 10% 0;
    /* display: flex; */

}

.see-me-on {
    display: flex;
    align-items: center;
}

.see-me-on img {
    margin: 0 1em;
}

.linkedin-logo {
    height: 50px;
    width: 100px;
}

.stackoverflow-logo {
    height: 35px;
    width: 100px;
}

.github-logo {
    height: 45px;
    width: 45spx;
}


.tech-stack-container {
    position: relative;
    top: 780px;
    color: black;
}

.tech-stack-title p {
    font-size: 48px;
    margin: 0 2em;
}

.tech-stack-skills {
    width: 60%;
    float: right;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.tech-stack-skills .skill-item {
    height: 175px;
    width: 175px;
    padding: 1em;
    margin: 1em;
    /* border: 1px solid black; */
    background: #eaeaea
}

footer a {
    color: white;
}