html{
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

div {
    /* border: 1px solid salmon; */
}

h3{
    margin: 0;
}

.lift-sim-inputs{
    display: flex;
    align-items: center;
}
.lift-sim-inputs form{
    margin: 0 2rem;
}

#lift-sim-container{
    display: flex;
    justify-content: center;
    /* width: 90vw; */
    /* height: 100vh; */
    margin: 10px auto;
    padding: 5px;
    border: 1px solid gray;
    background-color: #FFEBEE;
}

.list-sim-view{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    background-color: #fff;
}

.lift-view{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    border: 1px solid gray;
    position: relative;
    align-items: center;
    background-color: #FFF9C4;
}

.floor{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid salmon;
}

.floor-no{
    position: absolute;
    top: 0;
    font-size: 12px;
    border: 1px solid;
    padding: 0 3px;
    margin: 5px 0;
    background-color: #fff;
    color: #000;
}

.door{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 50%;
    border: 1px solid gray;
}

.handle{
    transform: rotate(90deg);
    height: 100%;
    border-style: solid;
    border-width: thin;
    border-color: #BDBDBD;
    z-index: -1;
}

.controls{
    position: absolute;
    left: 5%;
    display: flex;
    width: 20%;
    flex-direction: column;
}

.level-up,.level-down{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:  1px solid seagreen;
    margin: 0.25rem;
    cursor: pointer;
}

.level-down{
    transform: rotate(180deg);
}

.level-up::after{
    content: '^';
    display: flex;
    justify-content: center;
}

.level-down::after{
    content: '^';
    display: flex;
    justify-content: center;
}

.moving-lift{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    bottom: 0;
    border: 1px solid black;
    background-color: #ECEFF1;
}
.lift-status{
    position: absolute;
    padding: 0.25rem;
    display: flex;
    top: -35px;
    width: 70px;
    height: 20px;
    border: 1px solid;
    justify-content: space-around;
    align-items: center;
    background-color: #424242;
}

.up-arrow, .down-arrow{
    font-size: 0.8rem;
    color: red;
    position: relative;
    display: inline-block;
    width: fit-content;
    transform: rotate(90deg);
}

.up-arrow{
    color: #F44336;
}
.down-arrow{
    color: #4CAF50;
}
.progress-1 > .up-arrow, .progress-0 > .down-arrow{
    animation: movingUp 1s infinite; 
    font-weight: bold;
}
.curr-lift-level{
    color: white
}

.left-door{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    border-right: 1px solid black;
    background: silver;
}

.right-door{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    border-left: 1px solid black;
    background: silver;
}

.open .left-door{
    animation: openLeft 4s forwards; 
}

.open .right-door{
    animation: openRight 4s forwards;
}

.closed .left-door{
    animation: closeLeft 4s forwards;
}

.closed .right-door{
    animation: closeRight 4s forwards;
}

@keyframes openLeft{
    0%{
        width: 50%;
    }
    100%{
        width: 2%;
    }
}

@keyframes openRight{
    0%{
        width: 50%;
    }
    100%{
        width: 2%;
    }
}

@keyframes closeLeft{
    0%{
        width: 1%;
    }
    100%{
        width: 50%;
    }   
}

@keyframes closeRight{
    0%{
        width: 1%;
    }
    100%{
        width: 50%;
    }
}

@keyframes movingUp {
    0%{
        top: 5px;
    }
    100%{
        top: 0;
    }
}

.moving{
    border: 2px dotted gray;
}

.moving .left-door, .moving .right-door{
    background-color: #E0E0E0;
}